doctype html
html
  head
    title Places Result
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      html, body {
      height: 99%;
      margin: 0px;
      padding: 0px;
      max-width:100% 
      }
  
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src = 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/jquery.slimscroll.min.js')
    link(rel='stylesheet', href='/stylesheets/custom-styles.css')
    script.
      var mapCenter = new google.maps.LatLng(41.85, -87.65);
      var map;
      var infowindow;
      var marker;
      var service;
      var autocomplete;
      var markers = [] ;
      var imageMap = {};
      var reviewsMap = {};
      var directionsDisplay;
      var directionsService;
      var initialSearchString;

      function initialize() {
          var mapOptions = {
          zoom: 14,
          center: mapCenter
      };
        

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

        directionsDisplay = new google.maps.DirectionsRenderer;
        directionsService = new google.maps.DirectionsService;

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('place-details'));

        var control = document.getElementById('floating-panel');
        control.style.display = 'block';
        
        var jsonData = !{data};
        document.getElementById('autocomplete').value = jsonData.startingPosition;

        map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

        var onChangeHandler = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };

        document.getElementById('autocomplete').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);

        var jsonData = !{data};
        document.getElementById('autocomplete').value = jsonData.startingPosition;
        document.getElementById('end').value = jsonData.destination;

        calculateAndDisplayRoute(directionsService, directionsDisplay);

         $("#right-panel").slimScroll({
              height: '500px'
          });
      }

      function goBack(){
        window.history.back();
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var start = document.getElementById('autocomplete').value;
        var end = document.getElementById('end').value;
        directionsService.route({
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.DRIVING
        }, function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
       
      google.maps.event.addDomListener(window, 'load', initialize);
  block-content
  body
    //
       Navigation Bar 
    .bodykinda
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            | Discover Now
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#' onclick='goBack()') Back
            li
              a(href='/homePage') Home
            li
              a(href='about') About
    #map-canvas.map-grid
    #place-details.details-pane(style='background-color:rgb(234, 231, 223);padding-top:0px;margin-top:0px')
    #table-container.table-container
     .input-group#floating-panel.floating-panel
       .row
         .col-md-7(style='padding-right:1px;padding-left:0px')
            input#autocomplete.form-control.search-box(type='text', aria-label='...',placeholder='search here',name="searchString",disabled="disabled" )
          .col-md-5(style='padding-left:0')
            .form-group
               input#end.form-control.search-box(type='text', aria-label='...',placeholder='search here',name="searchString",disabled="disabled" )
    #info-panel.info-panel
