doctype html
html
  head
    title Places Result
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src = 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/jquery.slimscroll.min.js')
    link(rel='stylesheet', href='/stylesheets/custom-styles.css')
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    script(type='text/javascript', src='../config.js')
    style.
      html, body {
      height: 99%;
      margin: 0px;
      padding: 0px;
      max-width:100% 
      }
      
    script.
      var mapCenter; 
      var map;
      var infowindow;
      var marker;
      var service;
      var autocomplete;
      var markers = [] ;
      var imageMap = {};
      var reviewsMap = {};
      var initialSearchParameters;
      function initialize() {

          mapCenter = new google.maps.LatLng(#{latitude}, #{longitude});
      
          var mapOptions = {
          zoom: 14,
          center: mapCenter
      };

         
          map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

          service = new google.maps.places.PlacesService(map);

          /* initializes autocomplete using js API instead of node API for faster results*/
          
           autocomplete = new google.maps.places.Autocomplete(
              (document.getElementById('autocomplete')),
              { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
                  getNearbyLocations();
              });

        initialSearchParameters = !{searchParameters};

        if(#{isFromErrorPage}==1){
            $('#place-details').html("<div>No search results. try a different search</div>");
        }else{

             var jsonData = !{data};
              
              for(var i = 0; i < jsonData.length; i++) {
                  createMarker(jsonData[i],i);
              } 
            
        }
         $("#reviewsStack,#imageStack").slimScroll({
                    height: '400px',
                    color: '#ffffff',
                    alwaysVisible: true,
                });
       

          document.getElementById("autocomplete").value = initialSearchParameters.searchString;
         document.getElementById("placeType").value = initialSearchParameters.placeType;
      }

      function getNearbyLocations(){
          var placeName =  document.getElementById('autocomplete').value;
              var formData = {
               "searchString": placeName,
                "placeType": $('#placeType').val(),
                "typeOfRequest" : "Result Page"
             };
                $.ajax({
                    type : "POST",
                    url : "getNearByLocations",  
                    data : formData,
                    dataType: "text",
                    success : function(response) {
                      $("#place-details").empty();
                      clearMarkers();
                      var jsonResponse = JSON.parse(response);
                      var jsonData = JSON.parse(jsonResponse.data);
                       
                      for(var i=0; i<jsonData.length;i++){
                        if(i==0){

                           map.setOptions({
                            center:jsonData[i].geometry.location,
                            zoom: 14
                           });
                          createMarker(jsonData[i],i);
                        }else{
                          createMarker(jsonData[i],i);
                        }
                        
                      }
                    },
                    error : function(e) {
                      console.log("ERROR: ", e);
                    },
                    done : function(e) {
                      console.log("DONE");
                    }
                  });
      }

      function getDirection(destination){
         document.getElementById('startingPosition').value = document.getElementById('autocomplete').value;
         document.getElementById('destination').value = destination;
         directionForm.action = "getDirection";
         directionForm.submit();

      }

      function getImages(searchKey,placeName){
          var tempImageArray = [];
          var tempReviewArray = [];
          tempImageArray = imageMap[searchKey];
          tempReviewArray = reviewsMap[searchKey];
          var modalBody = "";
          var imageStack="";
          var modalReviewsStack="";
          console.log(tempImageArray);

          if(tempImageArray == null || tempImageArray == 'undefined'){
            modalBody +="<div class='item active'><img src='/images/noImageAvailable.gif'/></div>";
            imageStack+="<div><p>No Images to display</p></div>"
          }else{
             for(var i=0 ;i<tempImageArray.length;i++){
             if(i==0){
               modalBody +="<div id='defaultImage' class='item active'><img src='"+tempImageArray[i]+"'/></div>";
               imageStack+="<img src='"+tempImageArray[i]+"' style='width:100px;height:80px;margin-bottom:10px'/><br/>";
             }else{
               modalBody +="<div class='item'><img src='"+tempImageArray[i]+"'/></div>";
               imageStack+="<img src='"+tempImageArray[i]+"' onClick=setDefaultImage('"+tempImageArray[i]+"'); style='width:100px;height:80px;margin-bottom:10px;cursor:pointer'/><br/>";
             }
            
            }
          }
         
         if(tempReviewArray == null || tempReviewArray == 'undefined'){
            modalReviewsStack+="<div><p>There are no reviews</p></div>"
          }else{
             
              for(var i=0 ;i<tempReviewArray.length;i++){
                var reviewDetails = [];
                reviewDetails = tempReviewArray[i].split("@@");
                modalReviewsStack+="<div class='well' style='width:270px'><p>Name: "+reviewDetails[0]+"</p><p>Review:"+reviewDetails[1]+"</p><p>Rating:"+reviewDetails[2]+"</p></div><br/>";
              }
          }
          $('#modalBody').html(modalBody);
          $('#imageStack').html(imageStack);
          $('#reviewsStack').html(modalReviewsStack);
          $('#modalTitle').html(placeName);
          $('#myModal').modal('show');

        
      }

      function setDefaultImage(imageSrc){
        $('#defaultImage').html("<img src='"+imageSrc+"'/>");
      }
           
      function clearMarkers(){
        for(var i=0;i<markers.length;i++){
             markers[i].setMap(null);
        }
      }

      function createMarker(placeDetails,iteration) {
       service.getDetails({
              placeId: placeDetails.place_id 
          }, function(place,status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                 console.log(place);
                 var marker;
                if(iteration==0){
                    marker= new google.maps.Marker({
                    position: place.geometry.location,
                    map: map,
                    icon : "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                    title: 'You are here'
                 });
                }else{
                   marker = new google.maps.Marker({
                        map: map,
                        position:  place.geometry.location,
                        draggable: false,
                        animation: google.maps.Animation.DROP
                       });
                }
                  
                markers.push(marker);
                 infowindow = new google.maps.InfoWindow({
                    maxWidth: 300
                 });
                    
                       var searchString = place.name+",\t"+place.formatted_address;
                       var rating = "No Rating";
                       var phoneNumber = "No number";
                       var imageUrl = '/images/noImageAvailable.gif';
                       var website = "Website not available";
                       if(place.rating){
                          rating = place.rating ;
                       }
                       if(place.formatted_phone_number){
                        phoneNumber = place.formatted_phone_number;
                       }
                       if(place.website){
                        website = place.website;
                       }

                     if(place.photos){
                        var imageArray = [];
                        for(var i=0;i<place.photos.length;i++){
                          imageArray[i] = place.photos[i].getUrl({'maxWidth': 1400, 'maxHeight': 400});
                        }
                        imageMap[iteration] = imageArray;
                        imageUrl =  place.photos[0].getUrl({'maxWidth': 150, 'maxHeight': 70});
                      } 
                       
                      $("#place-details").append("<div  class='box-content' ><div class='row' >"
                      +"<img src="+imageUrl+" onClick='getImages("+iteration+",\""+place.name.replace(/'/,"&apos;")+"\")' class='image-style'><br/><div class='place-description'><b><p  class='place-name'>"+place.name+"</b><br/>Rating : "+rating+"<br/></p><p class='address-field'>"+place.formatted_address+",<br/>Ph no: "+phoneNumber+".<br/>"
                      +"<a href='"+website+"' target='_blank'><i class='fa fa-globe fa-2x'></i></a>&nbsp; <a href='#' onClick='getImages("+iteration+",\""+place.name.replace(/'/,"&apos;")+"\")' ><i class='fa fa-info-circle fa-2x'></i> </a> &nbsp;"
                      +"<a href='#'  onclick='getDirection(\""+searchString.replace(/'/g,"&apos;")+"\");' ><i class='fa fa-arrow-circle-o-right fa-2x'></i> </p>"
                      +"</a></div></div></div><br/>").show('slow');
                      console.log(imageMap);

                      if(place.reviews){
                        var reviewArray = [];
                        for(var i=0;i<place.reviews.length;i++){
                          reviewArray[i] = place.reviews[i].author_name+"@@"+ place.reviews[i].text +"@@"+place.reviews[i].rating;
                        }
                        reviewsMap[iteration] = reviewArray;
                      }
              
                   google.maps.event.addListener(marker, 'click', function() {
             
                    if(!place.photos){
                       infowindow.setContent("<div style='color:#333'><strong>" + place.name + "</strong><br/>" +
                        "<div class='col-md-5'><img style='width:80%' src='/images/noImageAvailable.gif'></div><div class='col-md-7'>"+
                        place.formatted_address + "<br/>Ph no:"+phoneNumber+"</div><br/><a href='"+website+"'>"+website+"</a></div>");
                    }
                   else{
                      var imageUrl =  place.photos[0].getUrl({'maxWidth': 150, 'maxHeight': 100});
                      infowindow.setContent("<div style='color:#333'><strong>" + place.name + "</strong><br/>" +
                        "<div class='col-md-4'><img style='width:80px;height:80px' src=" +  imageUrl + "></div><div class='col-md-8'>"+
                        place.formatted_address + "<br/>Ph no:"+phoneNumber+"</div><br/><a href='"+website+"' target='_blank'>"+website+"</a></div>");
                   }
                infowindow.open(map, this);
              });
            } 
        });
      }
   
      google.maps.event.addDomListener(window, 'load', initialize);
  block content
  body
    //
       Navigation Bar 
    .bodykinda
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            | Discover Now
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='/homePage') Home
            li
              a(href='/aboutPage') About
    #map-canvas.map-grid
    #place-details.details-pane
    #table-container.table-container
     .input-group
       .row
         .col-md-7(style='padding-right:0')
            input#autocomplete.form-control.search-box(type='text', aria-label='...',placeholder='search here',name="searchString")
          .col-md-5(style='padding-left:0')
            .form-group
              select#placeType(name="placeType",class="form-control",style='width:78%;height:30px;color:#333;margin-bottom:5%;border:none',onChange='getNearbyLocations();')
                   each value in ["hotel","hospital","school","airport","amusement_park","atm","bank","bus_station","cafe","doctor","food","gym","library","lodging","theater","pharmacy","park","police","post_office","train_station"]
                    option(value = value) #{value}

    #myModal.modal.modal-wide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      .modal-dialog(style="margin-top:0;width:100%")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4#modalTitle.modal-title 
          .modal-body
              hr
              .container(style="width:100%")
                .row
                 .col-md-7
                  #carousel_fade.carousel.slide.carousel-fade
                    #modalBody.carousel-inner
                      .item.active
                        img(src='http://placehold.it/600x400&text=Fade+effect')
                      .item
                        img(src='http://placehold.it/600x400&text=Fade+effect2')
                 .col-md-2
                  #imageStack(style='overflow-y:auto;overflow-x:hidden')
                   p hai
                 .col-md-3
                  #reviewsStack(style='overflow-y:auto;overflow-x:hidden')


          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
    form(action='/getDirection', method='post', name='directionForm')
      input#startingPosition(type='hidden', name='startingPosition')
      input#destination(type='hidden', name='destination')

