doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/custom-styles.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    script.
      var autocomplete;
      var geocoder;
      function initialize() {
         
            geocoder = geocoder = new google.maps.Geocoder();
           setCurrentLocation();
      }
      
      function setPlaceType(placeType){
        document.getElementById('sel1').value = placeType;
      }
      
      function getSearchResults(){
        if(document.getElementById('autocomplete').value == ''){
          alert("please enter a location to search");
        }else{
           searchForm.action = "googlePlacesSearch/getNearByLocations";
           searchForm.submit();
        }
      }
    
      function setCurrentLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(setPosition);
          } else {
              alert("Geolocation is not supported by the browser .Please try a manual search");
          }
      }

      function setPosition(position) {
         var formData = {
                "latitude":  position.coords.latitude,
                "longitude": position.coords.longitude
             };
          var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);        
           geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        $("#autocomplete").val(results[1].formatted_address);
                    }
                }
            });
      }

      function getAutocompleteResult(){

         var searchString = document.getElementById('autocomplete').value;
         var searchSuggestions = [] ;
         if(searchString!=""){
             $.ajax({
                    type : "POST",
                    url : "googlePlacesSearch/autoComplete",
                    data : {'searchString' : searchString },
                    dataType: "text",
                    success : function(response) {
                      var jsonResponse = JSON.parse(response);
                      var jsonDataDescription = JSON.parse(jsonResponse.data);
                      for(i=0;i<jsonDataDescription.length;i++){
                       searchSuggestions.push(jsonDataDescription[i].description);
                      }
                       $("#autocomplete").autocomplete({
                          source:searchSuggestions,
                          selectFirst: true, //here
                          minLength: 0
                      });
                      $("#autocomplete").attr('autocomplete','on');
                      console.log(jsonResponse);
                    },
                    error : function(e) {
                      console.log("ERROR: ", e);
                    },
                    done : function(e) {
                      console.log("DONE");
                    }
              });
         }
        
      }

  block-content
  body.home-page-style(onload='initialize()')
    .wrap-body
      header
        .nav-bar
          .wrap-nav
            .row
              .col-1-3
              .col-2-3
                .wrap-col.f-right
                  #menu
                    nav
                      ul
                        li.active.nav-option
                          a(href='#') Home
                        li.nav-option
                          a(href='/aboutPage') About 
                        
        .wrap-header
          h1 Discover Now
          span See the world differently
          center
            form(action='/getNearByLocations', method='post', name='searchForm')
            
              .input-group
                   .search-form 
                     .row
                       .col-md-7(style='padding-right:0')
                          #locationField
                          input#autocomplete.form-control(type='text', aria-label='...',placeholder='search here',name="searchString",onkeyup='getAutocompleteResult()',autocomplete='on')
                        .col-md-5(style='padding-left:0')
                          .form-group
                            select(name="placeType",class="form-control", id="sel1")
                                 each value in ["hotel","hospital","school","airport","amusement_park","atm","bank","bus_station","cafe","doctor","food","gym","library","lodging","theater","pharmacy","park","police","post_office","train_station"]
                                  option(value = value) #{value}
                    
                      input.btn.btn-default(type='button', name='Submit', value='Search',onClick="getSearchResults();")

          #top-destination(style='margin-left:20%')
            nav
              ul
                li
                  p Popular Searches :
                li
                  a(href="#",onClick="setPlaceType('hotel')") Hotels
                li
                  a(href="#",onClick="setPlaceType('hospital')") Hospitals
                li
                  a(href="#",onClick="setPlaceType('airport')") Airport
                li
                  a(href="#",onClick="setPlaceType('atm')") ATM
