.modal .modal-wide .modal-dialog {
        width: 100%;
}
.modal-wide .modal-body {
	overflow-y: auto;
}

.box-content{
	max-width:246px;
	margin-left:3%;
	cursor:pointer;
	margin-top: -7%;
}


.details-pane{
	height:90%;
	position:absolute;
	margin-left:80%;
	width:20%;
	background-color:rgba(15,22,64,0.2);
	margin-top:-1%;
	overflow-y:auto;
	overflow-x:hidden;
	padding-top: 3%;
	top : 10%;
	color: #ffffff;
}

.image-style{
	 min-width: 225px;
	 max-height: 90px;
	 margin-left: 3%;
}

.row{
	margin-left : 1%;
}

.place-description {
	margin-left: 3%;
	margin-right: 10%;
	background-color: #EAF1F7
}

.place-name{
	background-color: rgba(66,133,244,0.8);
	text-align: -webkit-center
}

.address-field{
	color: #333;
	padding-left : 3%;
	text-align: -webkit-center
}

.map-grid{
	width:80%;
	height:92%;
	float:left;
	margin-top:-1%
}

.table-container{
	position:absolute;
	width:67%;
	overflow-x:auto;
	margin-left:33%
}
 .floating-panel {
	position: absolute;
	top: 10px;
	left: 46%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}
.info-panel {
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}
.search-box{
	width:101%;
	height:30px;
	color:#333;
	border:none
}
.nav-option{
	background-color:#DAD9D7
}
.home-page-style{
	overflow:hidden
}